fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
youtube-transcript-api
sentence-transformers
rank-bm25
pymongo
motor
python-dotenv
sentence-transformers
torch
transformers