fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
sentence-transformers
rank-bm25
pymongo
motor
python-dotenv
sentence-transformers
torch
transformers
yt-dlp
requests